{
    "check-coverage": true,
    "statements": 84,
    "branches": 73,
    "functions": 92,
    "lines": 84,
    "include": [
        "app/*.js"
    ],
    "exclude": [
        "app/templates/**",
    ]
}